In [0]:
import pandas as pd
import numpy as np
import io

# Keras imports
import keras
from keras.preprocessing import text, sequence
from keras.utils import np_utils
from keras.models import Model
from keras.layers import Input, Dense

# NLTK imports
import nltk

from nltk.tokenize import RegexpTokenizer
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

In [49]:
# df2 = pd.read_csv(io.BytesIO(uploaded['resume_data.csv']))
# Import raw csv from github
url = 'https://raw.githubusercontent.com/hsoJLeu/resumAI/master/data/resume_dataset.csv'               # original data
# url = 'https://raw.githubusercontent.com/hsoJLeu/resumAI/master/data/Clean-Culture.csv'                  # Only engineering and IT

df = pd.read_csv(url)
df.head()

   ID Category                                             Resume
0   1       HR  b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...
1   2       HR  b'Name Surname\nAddress\nMobile No/Email\nPERS...
2   3       HR  b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3   4       HR  b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4   5       HR  b"HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...

In [50]:
# Data cleaning

from io import StringIO
col = ['Category', 'Resume']
df = df[col]
df = df[pd.notnull(df['Resume'])]
df.columns = ['Category', 'Resume']
df['category_id'] = df['Category'].factorize()[0]
# clean category -> category Id
category_id_df = df[['Category', 'category_id']].drop_duplicates().sort_values('category_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'Category']].values)
df

      Category                                             Resume  category_id
0           HR  b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...            0
1           HR  b'Name Surname\nAddress\nMobile No/Email\nPERS...            0
2           HR  b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...            0
3           HR  b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...            0
4           HR  b"HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...            0
5           HR  b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...            0
6           HR  b'Resume of Satheesh\n\nwww.downlo\nSatheesh\n...            0
7           HR  b"GM HR & ADMINISTRATION Resume Sample www.tim...            0
8           HR  b"www.uaehrzone.com\n\nRobert Wales\nDubai\nUn...            0
9           HR  b"Human Resources Coordinator Resume\nExample\...            0
10          HR  b'RESUME WORLD INC.\n1200 Markham Road, Suite ...            0
11          HR  b'XXXXX XXXXX\nXXXX, Renton, WA 98059\nHome: X...            0
12          HR  b'SATHEESH\n\nwww.downloadmela.com\n\nObjectiv...            0
13          HR  b'Alan Bloggs BE\n1Main Street, Irish Town, Co...            0
14          HR  b'www.downloadmela.com\nSatheesh\nSummary\n4+ ...            0
15          HR  b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...            0
16          HR  b'T\n\nAYLOR J ONES\n15 Jinglewood Street Melb...            0
17          HR  b'Human Resources Manager\nCurriculum Vitae Ex...            0
18          HR  b'EDMOND\xc2\xa0BRADY\xc2\xa0\n1900\xc2\xa0Sum...            0
19          HR  b'Jonathan Burns\n1414 Marcy Drive\n\n\xef\x82...            0
20          HR  b'Jo Sample\n123 Ocean Drive\nSampleville, FL ...            0
21          HR  b'Jonathan Burns\n1414 Marcy Drive\n\n\xef\x82...            0
22          HR  b'Shweta XXX\nMobile: +91-98********\n\nE-mail...            0
23          HR  b'www.downloadmela.com\n\nSATHEESH\nMobile :\n...            0
24          HR  b"Steven B. Manning\n3249 Oral Lake Road\nMinn...            0
25          HR  b"www.downloadmela.com\nSatheesh\n\nE-mail:\nH...            0
26          HR  b"Resume for HR Assistant\nTX\n3 Avenue,\nSale...            0
27          HR  b'RESUME WORLD INC.\n1200 Markham Road, Suite ...            0
28          HR  b'HOW TO WRITE A PROFESSIONAL RESUME\n\n\x0c\x...            0
29          HR  b'RESUME WORLD INC.\n1200 Markham Road, Suite ...            0
...        ...                                                ...          ...
1189      Arts  b'Joseph Andrade\nACTOR\nEmail: Jfandrade192@o...           23
1190      Arts  b'MARIAH FORD\nHeight: 5\xe2\x80\x99 4\xe2\x80...           23
1191      Arts  b'Your Name\nPhone number\nEmail address\nHeig...           23
1192      Arts  b'Jarien Sky-Stutts \xe2\x80\x93 Senior 3D Art...           23
1193      Arts  b"Gary White\nMake up artist\nAREAS OF EXPERTI...           23
1194      Arts  b'RESUME\nDan Platt\n5134 Oakdale Ave.\nWoodla...           23
1195      Arts  b"Jeff Wolverton, M.S., B.S.Cis.\nVisual FX Ar...           23
1196      Arts  b'LETA LOU GRAY\t\n\r\n\n\t\n\r\n\n\t\n\r\n\n\...           23
1197      Arts  b'Curriculum Vitae\nPersonal Details\n\nDarren...           23
1198      Arts  b'Your Name\n\nSchool Address\n123 Main Street...           23
1199      Arts  b'Stacy Adams\nSAG/AFTRA\nHeight:\nWeight:\nHa...           23
1200      Arts  b'PERFORMING ARTS RESUME\nContent\nA performer...           23
1201      Arts  b'ED WEISS\nTeaching Artist Resume\n\ne-mail: ...           23
1202      Arts  b'8/23/2016 sample resume for painter. account...           23
1203      Arts  b'KELSEY PAINTER\nBlonde Hair/Brown Eyes | Alt...           23
1204      Arts  b'Wendy Robin\nProfessional Make-up Artist\n(7...           23
1205      Arts  b'Chet Bailey\n100 Desert Street\nDrytown, CA ...           23
1206  Aviation  b'Chris Flight Attendant\n11223 East South Ave...           24
1207  Aviation  b'Bilingual Flight Attendant Resume\n\nANGELIC...           24
1208  Aviation  b'Flight Attendant Resumes\nFlight-Attendant-C...           24
1209  Aviation  b'Emirates Flight Attendant Resume Sample\n\nA...           24
1210  Aviation  b'Entry Level Flight Attendant Resume \xe2\x80...           24
1211  Aviation  b'CURRICULUM VITAE\nMay 11, 2004\n\nNAME\n\nRo...           24
1212  Aviation  b'JED REDD\n\n_\n003 Boudry Lane\nFriend, TX 7...           24
1213  Aviation  b'Lauren B. Pires\nMiami, Florida & New York C...           24
1214  Aviation  b"Free Flight Attendant Resume\nDarlene Flint\...           24
1215  Aviation  b'Corporate Flight Attendant Resume\nCAITLIN F...           24
1216  Aviation  b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,...           24
1217  Aviation  b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...           24
1218  Aviation  b'Entry Level Resume Guide\n\nThis packet is i...           24

[1219 rows x 3 columns]

In [51]:
# Separating rows here
filter_list = ['Information Technology', 'Engineering']
tech_list = df[df.Category.isin(filter_list)]
tech_list

# Alternative way 
# techies = df.loc[(df['category_id'] == 3 ) | (df['category_id'] == 17 )]

# Perhaps convert Category to numerical value for labeling

,Category,Resume,category_id
166,Information Technology,"b'RESUME\nAJITHA SHENOY .K.B,\nPhD student (Co...",3
167,Information Technology,b'Mason\t\r \xc2\xa0Silber\t\r \xc2\xa0\n6595\...,3
168,Information Technology,b'Pramod XXXX\nMobile: +91-99********\n\nE-mai...,3
169,Information Technology,"b""Harry M. Rohrer\n3748 Bee Street\nGrand Rapi...",3
170,Information Technology,"b""Wilson Kunnan Jose\nSr. Consultant, QA\n\nSu...",3
171,Information Technology,b'Resume\nFor\n\nInternship\nor\nCo-OP\nWithou...,3
172,Information Technology,b'Jan Stolarek\nInformatics Forum 5.10\n10 Cri...,3
173,Information Technology,"b'Stan Taylor\n19217 Kennemer Drive, Pflugervi...",3
174,Information Technology,b'SOFTWARE ENGINEER\nDEVELOPER RESUME\nDEVELOP...,3
175,Information Technology,b'Gary White\nPHP developer\nAREAS OF EXPERTIS...,3
176,Information Technology,b'JAVA DEVELOPER\n\xe2\x96\xa0 Qualifications ...,3
177,Information Technology,b'Steve Mostovoy\n[Address withheld on web] \x...,3
178,Information Technology,"b'Shardool\n338084 Georgia Tech Station, Atlan...",3
179,Information Technology,"b""Sample Entry level Information Technology R\...",3
180,Information Technology,b'INFORMATION\nTECHNOLOGY\nMANGEMENT\nRESUMES\...,3
181,Information Technology,b'\xef\x82\xb7\n\nInnovative software engineer...,3
182,Information Technology,"b""San Mateo, CA\nAuthorized to work in the US ...",3
183,Information Technology,b'Hardik Dubal \xe2\x80\x93 Summary\n\nPage 1 ...,3
184,Information Technology,b'Anne Software-Firmware Engineer\n24 Robinson...,3
185,Information Technology,"b'JOHN COWAN\n\nSenior level programmer, docum...",3
186,Information Technology,b'RESUME SAMPLES\nPreparing an effective resum...,3
187,Information Technology,b'Ph.D. RESUME\n\nKushal P. Aryal\nhttp://www....,3
188,Information Technology,b'Irshad Ali\nEmail Address: irshadali18@gmail...,3
189,Information Technology,b'Resume\nGuide\nBOSTON UNIVERSITY\nCOLLEGE OF...,3
190,Information Technology,b'Charles E. Patisaul\n\nEmbedded Software Eng...,3
191,Information Technology,b'Professional Summary:\n\xef\x82\xb7\n\nAroun...,3
192,Information Technology,b'Viki Aggarwal\nTechnical excellence to deliv...,3
193,Information Technology,"b'JOHN H. SMITH\nP.O. Box 1673\x01 Callahan, F...",3
194,Information Technology,"b""Paul Bertrand\nPHP Developer\n\nCAREER OBJEC...",3
195,Information Technology,b'Steve Pomeroy\nResume\nEducation\nFall 2000\...,3
...,...,...,...
964,Engineering,b'Allyhunt: Sample Resume for Fresh Graduate\n...,17
965,Engineering,b'CURRICULUM VITAE\n1. NAME:\n\nAnoop Chawla\n...,17
966,Engineering,b'EMILY ROEBLING\n1439 SW Washington Way \xe2\...,17
967,Engineering,b'GET STARTED NOW!\n\n\x0c\xef\x81\xbd\n\n\xef...,17
968,Engineering,"b""SAMPLE RESUME\n\nMaria E. Parker\nCampus Add...",17
969,Engineering,"b'LYNN A. ENGINEERING STUDENT\nStreet Address,...",17
970,Engineering,b'Course\n\nUniversity/\nBoard\n\nInstitute\n\...,17
971,Engineering,b'Your Name\nemail@address.com.au\n0400 000 00...,17
972,Engineering,b'N\n\name\n\nName\nAddress\nPhone :\nE-mail:\...,17
973,Engineering,b'Sample Resume for Engineering Students (jr/s...,17
974,Engineering,b'SAMPLE MECHANICAL ENGINEERING RESUME \xe2\x8...,17
975,Engineering,"b""RESUME\nSmt K Nagaratna\nAsst Professor\nDep...",17
976,Engineering,"b""John Walton\n\nCivil Engineer In Training\n7...",17
977,Engineering,b'',17
978,Engineering,b'Resume and Cover Letter Tips @ MS of Electri...,17
979,Engineering,b'Dr. SHEETAL J. PATIL\nPost Doctorate Fellow\...,17
980,Engineering,b'Summary of Qualifications\nGraduate Student ...,17
981,Engineering,b'ALEX SMITH\n128 Chemical Drive\nThunder Bay ...,17
982,Engineering,"b""SAMPLE RESUME\n\nMaria E. Parker\nCampus Add...",17
983,Engineering,b'School of Computer Science\nSample Resumes\n...,17
984,Engineering,"b""S.A.KISHORE KUMAR\nPG Specialization: Chemic...",17
985,Engineering,b'CHEMICAL ENGINEERING R\xc3\x89SUM\xc3\x89S\n...,17
986,Engineering,b'Sample cover letter for a mechanical enginee...,17
987,Engineering,b'CHEMICAL ENGINEERING R\xc3\x89SUM\xc3\x89S\n...,17
988,Engineering,b'Sample CV for Freshers\n\nSample CV for cand...,17
989,Engineering,b'Sample Resume for Engineering Students (jr/s...,17
990,Engineering,b'CHEMICAL ENGINEERING R\xc3\x89SUM\xc3\x89S\n...,17
991,Engineering,b'Sample Resume - Chemical Engineer Resume\n\n...,17
992,Engineering,b'your resume and try to determine if they hav...,17
993,Engineering,b'Thomas J. Smith\n55 Northern Road | Sometown...,17

In [65]:
# Pre processing with NLTK

# Get first resume
tokenizer = RegexpTokenizer(r'\w+')                                           # testing regex tokenizer 
# tokens = word_tokenize(tech_list.iloc[3, 1])                                   # word_tokenize does not handle punctuations sadly :( 
tokens = tokenizer.tokenize(tech_list.iloc[0, 1])                                # run tokenizer on resume @ [row, col]

# nty_list = [',', 'the', ':']
# for chars in token:
#   if(token[chars] == nty_list):
    
# Stem words so they'll be easier to capture later
porter = PorterStemmer()
stemmed = [porter.stem(word) for word in tokens]
print(stemmed[:500])

# Pre processing with Keras
text1 = tech_list.iloc[0,1]
print(text1)
# keras text_to_word_sequence
filter_text = keras.preprocessing.text.text_to_word_sequence(text1, filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n', lower=True, split=' ')
print(filter_text)


# keras tokenizer
# text1 = keras.preprocessing.text.Tokenizer(num_words=None, filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n', lower=True, split=' ', char_level=False, oov_token=None, document_count=0)

['b', 'resum', 'najitha', 'shenoy', 'K', 'B', 'nphd', 'student', 'comput', 'scienc', 'nroom', 'No', 'CS', '106', 'ndepart', 'of', 'comput', 'scienc', 'niit', 'kanpur', 'nup', 'india', 'nE', 'mail', 'ajithshenoy2003', 'yahoo', 'com', 'or', 'najith', 'cse', 'iitk', 'ac', 'in', 'or', 'ajith', 'iitk', 'ac', 'in', 'nmobil', '91', '9305326504', '91', 'xe2', 'x80', 'x93', '9839791934', 'R', 'n', 'ncareer', 'object', 'To', 'pursu', 'a', 'challeng', 'career', 'and', 'be', 'part', 'of', 'a', 'progress', 'norgan', 'that', 'give', 'scope', 'to', 'enhanc', 'my', 'knowledg', 'skill', 'and', 'to', 'reach', 'the', 'pinnacl', 'nin', 'the', 'comput', 'and', 'research', 'field', 'with', 'sheer', 'determin', 'dedic', 'and', 'hard', 'work', 'n', 'nwork', 'experi', 'n', 'xef', 'x81', 'xac', 'n', 'n', 'xef', 'x82', 'xb7', 'n', 'xef', 'x82', 'xb7', 'n', 'npursu', 'research', 'in', 'the', 'depart', 'of', 'comput', 'scienc', 'and', 'engin', 'nat', 'iit', 'kanpur', 'nwork', 'as', 'a', 'lectur', 'in', 'the', 'depart', 'of', 'inform', 'commun', 'ntechnolog', 'at', 'manip', 'institut', 'of', 'technolog', 'manip', 'from', '04', '09', '2003', 'to', 'n19', '12', '2007', '4', 'year', '3', 'month', 'n1', '5', 'year', 'of', 'work', 'experi', 'as', 'a', 'lectur', 'in', 'the', 'depart', 'of', 'mathemat', 'at', 'ngovern', 'colleg', 'kasaragod', 'xe2', 'x80', 'x93', '671', '121', 'n', 'nproject', 'work', 'done', 'n1', 'M', 'tech', 'project', 'n', 'n', 'xe2', 'x80', 'x9ctcp', 'switch', 'xe2', 'x80', 'x9d', 'ntechnolog', 'use', 'C', 'linux', 'nrespons', 'My', 'respons', 'were', 'to', 'code', 'and', 'to', 'document', 'nproject', 'descript', 'use', 'circuit', 'switch', 'technolog', 'in', 'packet', 'nswitch', 'network', 'to', 'speed', 'up', 'the', 'transmiss', 'process', 'built', 'a', 'nlinux', 'kernel', 'modul', 'for', 'easi', 'integr', 'of', 'the', 'solut', 'to', 'the', 'nenterpris', 'environ', 'n2', 'work', 'as', 'a', 'team', 'member', 'in', 'philip', 'bop', 'project', 'tele', 'medicin', 'project', 'in', 'nrural', 'area', 'nhttp', 'www', 'grassrootinnov', 'org', 'bop_engag', 'ajitha_shenoy', 'htm', 'nrespons', 'conduct', 'survey', 'in', 'rural', 'area', 'and', 'primari', 'health', 'care', 'center', 'nto', 'understand', 'the', 'feasibl', 'and', 'demand', 'for', 'the', 'tele', 'medicin', 'project', 'nbase', 'on', 'the', 'statist', 'draw', 'graph', 'and', 'analyz', 'the', 'survey', 'result', 'also', 'they', 'ninvolv', 'me', 'in', 'idea', 'evalu', 'to', 'check', 'whether', 'the', 'idea', 'given', 'by', 'the', 'peopl', 'nare', 'new', 'and', 'patent', 'ngot', 'appreci', 'certif', 'from', 'philip', 'india', 'n', 'npage', '1', 'of', '3', 'n', 'n', 'x0c3', 'guid', 'sever', 'B', 'E', 'mca', 'project', 'n4', 'taken', 'onlin', 'vsat', 'class', 'for', 'sikkim', 'manip', 'univers', 'n5', 'taken', 'class', 'for', 'BE', 'IT', 'mca', 'and', 'M', 'tech', 'softwar', 'engin', 'at', 'nmanip', 'institut', 'of', 'technolog', 'mit', 'manip', 'karnataka', 'state', 'n6', 'taken', 'class', 'for', 'B', 'Sc', 'mathemat', 'M', 'Sc', 'mathemat', 'at', 'govt', 'colleg', 'nkasaragod', 'kerala', 'state', 'n', 'nacadem', 'profil', 'npursu', 'P', 'hD', 'in', 'the', 'depart', 'of', 'comput', 'scienc', 'and', 'engin', 'iit', 'nkanpur', 'complet', '1', '5', 'year', 'with', 'cpi', 'of', '9', 'out', 'of', '10', 'ngate', 'xe2', 'x80', 'x93', '2000', 'qualifi', 'all', 'india', '156th', 'rank', 'nunivers', 'board', 'n', 'nyear', 'n', 'n', 'mark', 'class', 'nobtain', 'n', 'ncalicut', 'univers', 'n', 'n1997', 'n', 'n89', '8', 'n', 'nkannur', 'univers', 'n', 'n1999', 'n', 'n76', '27', 'n', 'n2003', 'n', 'ncgpa', 'nfirst', 'nwith', 'n8', '11', 'out', 'distinct', 'n10', 'n', 'nexamin', 'npass', 'nB', 'Sc', 'n', 'mathemat', 'n', 'nM', 'Sc', 'n', 'mathemat', 'n', 'nM', 'tech', 'n', 'comput', 'and', 'ninform', 'ncochin', 'univers', 'nscienc', 'n', 'nfirst', 'nwith', 'ndistinct', 'n', 'first', 'in', 'the', 'nclass', 'nfirst', 'nwith', 'ndistinct', 'n', 'first', 'in', 'the', 'nclass', 'n', 'ntechnic', 'skill', 'nprogram', 'languag', 'nback', 'end', 'noper', 'system', 'ntool', 'n', 'n', 'C', 'C', 'mfc']
b'RESUME\nAJITHA SHENOY .K.B,\nPhD student (Computer Science),\nRoom No. CS 106\nDepartment of Computer Science,\nIIT, KANPUR,\nUP, INDIA.\nE-mail : ajithshenoy2003@yahoo.com or\najith@cse.iitk.ac.in or ajith@iitk.ac.in\nMobile : 91- 9305326504, 91 \xe2\x80\x93 9839791934 (R)\n\nCareer Objective: To pursue a challenging career and be part of a progressive\norganization that gives scope to enhance my knowledge, skills and to reach the pinnacle\nin the computing and research field with sheer determination, dedication and hard work.\n\nWork Experience:\n\xef\x81\xac\n\n\xef\x82\xb7\n\xef\x82\xb7\n\nPursuing research in the Department of Computer Science and Engineering\nat IIT, Kanpur.\nWorked as a Lecturer in the Department of Information & Communication\nTechnology at Manipal Institute of Technology, MANIPAL from 04-09-2003 to\n19-12-2007 ( 4 years 3 months).\n1.5 years of work experience as a Lecturer in the Department of Mathematics at\nGovernment College, Kasaragod \xe2\x80\x93 671 121.\n\nProjects & Work Done:\n1. M.Tech Project:\n\n\xe2\x80\x9cTCP SWITCHING\xe2\x80\x9d\nTechnology Used: C, Linux\nResponsibility: My responsibilities were to code and to document.\nProject Description: Using circuit switching technology in packet\nswitched network to speed up the transmission process. Built a\nLinux kernel module for easy integration of the solution to the\nenterprise environment.\n2. Worked as a team member in PHILIPS BOP project (TELE MEDICINE project in\nrural area).\nhttp://www.grassrootinnovations.org/BoP_engagements/ajitha_shenoy.htm\nResponsibility: Conducted survey in rural areas and primary health care centers\nto understand the feasibility and demand for the TELE MEDICINE project.\nBased on the statistics draw graphs and analyze the survey results. Also they\ninvolved me in Idea Evaluation to check whether the Ideas given by the people\nare new and patentable.\nGot Appreciation Certificate from Philips, India\n\nPage 1 of 3\n\n\x0c3. Guided several B.E, MCA projects.\n4. Taken Online VSAT classes for Sikkim Manipal University.\n5. Taken Classes for BE (IT), MCA and M.Tech (Software Engineering) at\nManipal Institute of Technology (MIT), Manipal, Karnataka State.\n6. Taken Classes for B.Sc (Mathematics), M.Sc(Mathematics) at Govt. College,\nKasaragod, Kerala State.\n\nAcademic Profile:\nPursuing P.hD in the Department of Computer Science and Engineering, IIT,\nKanpur. Completed 1.5 years with CPI of 9 out of 10\nGATE \xe2\x80\x93 2000 Qualified (All India 156th Rank)\nUniversity/Board\n\nYear\n\n% Marks Class\nObtained\n\nCalicut University\n\n1997\n\n89.8\n\nKannur University\n\n1999\n\n76.27\n\n2003\n\nCGPA\nFirst\nwith\n8.11 out Distinction\n10\n\nExamination\nPassed\nB.Sc\n(Mathematics)\n\nM.Sc\n(Mathematics)\n\nM.Tech\n(Computer and\nInformation\nCochin University\nScience)\n\nFirst\nwith\nDistinction\n(First in the\nClass)\nFirst\nwith\nDistinction\n(First in the\nClass)\n\nTechnical Skills:\nProgramming languages\nBack end\nOperating System\nTools\n\n: C, C++, MFC, VC++, VB.Net, JAVA\n: ORACLE 9i\n: Windows, Linux\n: VMware\n\nField of interest\n: Algorithms, Graph Algorithms, Randomized Algorithms, Bioinformatics, Data Structures, Object Oriented Technology, Computational Geometry,\nand Mathematics.\n\nPage 2 of 3\n\n\x0cSubject Taught :\nDesign and Analysis of Algorithm, Object Oriented Programming Using C++, Visual\nProgramming (VC++), System Simulation and Modeling, Multimedia Communication,\nAdvanced Computer Networks, Mathematics.\nExtra Co curricular Activities :\n1. Attended 19th Jyvaskyla summer school on Evolutionary Algorithms conducted by\nUniversity of Jyvaskyla, Finland (from 17-21st August 2009 )\n2. Attended two days workshop on "Server Virtualization Technology" Conducted by\nComputer Science Department MIT, Manipal. Lectures and hands on experience class\ntaken by Software Engineers from Vmware.\n3. Attended training in Microsoft .NET organized by Manipal Universal learning &\nDepartment of Computer Science Engineering, MIT, Manipal. Training given by\nIndicom software & Services.\n4. Attended workshops conducted by Dept. of Bio Medical Engg and Dept. of\nInformation and communication Technology, Manipal Institute of Technology,\nManipal.\n5. Finance coordinator for International Conference conducted by Dept. of Information\nand Communication Technology, Manipal Institute of Technology, Manipal.\n6. Department representative for MAHE website development committee.\n\nPersonal Profile:\nName:\nGender:\nDate of birth:\nMarital status:\nNationality:\nFather\xe2\x80\x99s Name:\nLinguistic Ability:\nPassport Number:\nPresent Address:\n\nAJITHA SHENOY .K.B\nMale\n28-05-1977\nSingle\nIndian\nLate. Sri. K.B. Narayana Shenoy\nEnglish, Hindi, Kannada, Malayalam, Konkani, Tulu\nF7190229\nB5, SBRA\nIndian Institute of Technology,\nKANPUR \xe2\x80\x93 208016.\n\nPersonal Strength:\n\nLeadership skills, Self-confidence, Optimism and Hard working.\n\nDeclaration: I hereby declare that all the details furnished above are true to the best of\nmy knowledge and belief.\n\nAJITHA SHENOY .K.B\n\nPage 3 of 3'
["b'resume", 'najitha', 'shenoy', 'k', 'b', 'nphd', 'student', 'computer', 'science', 'nroom', 'no', 'cs', '106', 'ndepartment', 'of', 'computer', 'science', 'niit', 'kanpur', 'nup', 'india', 'ne', 'mail', 'ajithshenoy2003', 'yahoo', 'com', 'or', 'najith', 'cse', 'iitk', 'ac', 'in', 'or', 'ajith', 'iitk', 'ac', 'in', 'nmobile', '91', '9305326504', '91', 'xe2', 'x80', 'x93', '9839791934', 'r', 'n', 'ncareer', 'objective', 'to', 'pursue', 'a', 'challenging', 'career', 'and', 'be', 'part', 'of', 'a', 'progressive', 'norganization', 'that', 'gives', 'scope', 'to', 'enhance', 'my', 'knowledge', 'skills', 'and', 'to', 'reach', 'the', 'pinnacle', 'nin', 'the', 'computing', 'and', 'research', 'field', 'with', 'sheer', 'determination', 'dedication', 'and', 'hard', 'work', 'n', 'nwork', 'experience', 'n', 'xef', 'x81', 'xac', 'n', 'n', 'xef', 'x82', 'xb7', 'n', 'xef', 'x82', 'xb7', 'n', 'npursuing', 'research', 'in', 'the', 'department', 'of', 'computer', 'science', 'and', 'engineering', 'nat', 'iit', 'kanpur', 'nworked', 'as', 'a', 'lecturer', 'in', 'the', 'department', 'of', 'information', 'communication', 'ntechnology', 'at', 'manipal', 'institute', 'of', 'technology', 'manipal', 'from', '04', '09', '2003', 'to', 'n19', '12', '2007', '4', 'years', '3', 'months', 'n1', '5', 'years', 'of', 'work', 'experience', 'as', 'a', 'lecturer', 'in', 'the', 'department', 'of', 'mathematics', 'at', 'ngovernment', 'college', 'kasaragod', 'xe2', 'x80', 'x93', '671', '121', 'n', 'nprojects', 'work', 'done', 'n1', 'm', 'tech', 'project', 'n', 'n', 'xe2', 'x80', 'x9ctcp', 'switching', 'xe2', 'x80', 'x9d', 'ntechnology', 'used', 'c', 'linux', 'nresponsibility', 'my', 'responsibilities', 'were', 'to', 'code', 'and', 'to', 'document', 'nproject', 'description', 'using', 'circuit', 'switching', 'technology', 'in', 'packet', 'nswitched', 'network', 'to', 'speed', 'up', 'the', 'transmission', 'process', 'built', 'a', 'nlinux', 'kernel', 'module', 'for', 'easy', 'integration', 'of', 'the', 'solution', 'to', 'the', 'nenterprise', 'environment', 'n2', 'worked', 'as', 'a', 'team', 'member', 'in', 'philips', 'bop', 'project', 'tele', 'medicine', 'project', 'in', 'nrural', 'area', 'nhttp', 'www', 'grassrootinnovations', 'org', 'bop', 'engagements', 'ajitha', 'shenoy', 'htm', 'nresponsibility', 'conducted', 'survey', 'in', 'rural', 'areas', 'and', 'primary', 'health', 'care', 'centers', 'nto', 'understand', 'the', 'feasibility', 'and', 'demand', 'for', 'the', 'tele', 'medicine', 'project', 'nbased', 'on', 'the', 'statistics', 'draw', 'graphs', 'and', 'analyze', 'the', 'survey', 'results', 'also', 'they', 'ninvolved', 'me', 'in', 'idea', 'evaluation', 'to', 'check', 'whether', 'the', 'ideas', 'given', 'by', 'the', 'people', 'nare', 'new', 'and', 'patentable', 'ngot', 'appreciation', 'certificate', 'from', 'philips', 'india', 'n', 'npage', '1', 'of', '3', 'n', 'n', 'x0c3', 'guided', 'several', 'b', 'e', 'mca', 'projects', 'n4', 'taken', 'online', 'vsat', 'classes', 'for', 'sikkim', 'manipal', 'university', 'n5', 'taken', 'classes', 'for', 'be', 'it', 'mca', 'and', 'm', 'tech', 'software', 'engineering', 'at', 'nmanipal', 'institute', 'of', 'technology', 'mit', 'manipal', 'karnataka', 'state', 'n6', 'taken', 'classes', 'for', 'b', 'sc', 'mathematics', 'm', 'sc', 'mathematics', 'at', 'govt', 'college', 'nkasaragod', 'kerala', 'state', 'n', 'nacademic', 'profile', 'npursuing', 'p', 'hd', 'in', 'the', 'department', 'of', 'computer', 'science', 'and', 'engineering', 'iit', 'nkanpur', 'completed', '1', '5', 'years', 'with', 'cpi', 'of', '9', 'out', 'of', '10', 'ngate', 'xe2', 'x80', 'x93', '2000', 'qualified', 'all', 'india', '156th', 'rank', 'nuniversity', 'board', 'n', 'nyear', 'n', 'n', 'marks', 'class', 'nobtained', 'n', 'ncalicut', 'university', 'n', 'n1997', 'n', 'n89', '8', 'n', 'nkannur', 'university', 'n', 'n1999', 'n', 'n76', '27', 'n', 'n2003', 'n', 'ncgpa', 'nfirst', 'nwith', 'n8', '11', 'out', 'distinction', 'n10', 'n', 'nexamination', 'npassed', 'nb', 'sc', 'n', 'mathematics', 'n', 'nm', 'sc', 'n', 'mathematics', 'n', 'nm', 'tech', 'n', 'computer', 'and', 'ninformation', 'ncochin', 'university', 'nscience', 'n', 'nfirst', 'nwith', 'ndistinction', 'n', 'first', 'in', 'the', 'nclass', 'nfirst', 'nwith', 'ndistinction', 'n', 'first', 'in', 'the', 'nclass', 'n', 'ntechnical', 'skills', 'nprogramming', 'languages', 'nback', 'end', 'noperating', 'system', 'ntools', 'n', 'n', 'c', 'c', 'mfc', 'vc', 'vb', 'net', 'java', 'n', 'oracle', '9i', 'n', 'windows', 'linux', 'n', 'vmware', 'n', 'nfield', 'of', 'interest', 'n', 'algorithms', 'graph', 'algorithms', 'randomized', 'algorithms', 'bioinformatics', 'data', 'structures', 'object', 'oriented', 'technology', 'computational', 'geometry', 'nand', 'mathematics', 'n', 'npage', '2', 'of', '3', 'n', 'n', 'x0csubject', 'taught', 'ndesign', 'and', 'analysis', 'of', 'algorithm', 'object', 'oriented', 'programming', 'using', 'c', 'visual', 'nprogramming', 'vc', 'system', 'simulation', 'and', 'modeling', 'multimedia', 'communication', 'nadvanced', 'computer', 'networks', 'mathematics', 'nextra', 'co', 'curricular', 'activities', 'n1', 'attended', '19th', 'jyvaskyla', 'summer', 'school', 'on', 'evolutionary', 'algorithms', 'conducted', 'by', 'nuniversity', 'of', 'jyvaskyla', 'finland', 'from', '17', '21st', 'august', '2009', 'n2', 'attended', 'two', 'days', 'workshop', 'on', 'server', 'virtualization', 'technology', 'conducted', 'by', 'ncomputer', 'science', 'department', 'mit', 'manipal', 'lectures', 'and', 'hands', 'on', 'experience', 'class', 'ntaken', 'by', 'software', 'engineers', 'from', 'vmware', 'n3', 'attended', 'training', 'in', 'microsoft', 'net', 'organized', 'by', 'manipal', 'universal', 'learning', 'ndepartment', 'of', 'computer', 'science', 'engineering', 'mit', 'manipal', 'training', 'given', 'by', 'nindicom', 'software', 'services', 'n4', 'attended', 'workshops', 'conducted', 'by', 'dept', 'of', 'bio', 'medical', 'engg', 'and', 'dept', 'of', 'ninformation', 'and', 'communication', 'technology', 'manipal', 'institute', 'of', 'technology', 'nmanipal', 'n5', 'finance', 'coordinator', 'for', 'international', 'conference', 'conducted', 'by', 'dept', 'of', 'information', 'nand', 'communication', 'technology', 'manipal', 'institute', 'of', 'technology', 'manipal', 'n6', 'department', 'representative', 'for', 'mahe', 'website', 'development', 'committee', 'n', 'npersonal', 'profile', 'nname', 'ngender', 'ndate', 'of', 'birth', 'nmarital', 'status', 'nnationality', 'nfather', 'xe2', 'x80', 'x99s', 'name', 'nlinguistic', 'ability', 'npassport', 'number', 'npresent', 'address', 'n', 'najitha', 'shenoy', 'k', 'b', 'nmale', 'n28', '05', '1977', 'nsingle', 'nindian', 'nlate', 'sri', 'k', 'b', 'narayana', 'shenoy', 'nenglish', 'hindi', 'kannada', 'malayalam', 'konkani', 'tulu', 'nf7190229', 'nb5', 'sbra', 'nindian', 'institute', 'of', 'technology', 'nkanpur', 'xe2', 'x80', 'x93', '208016', 'n', 'npersonal', 'strength', 'n', 'nleadership', 'skills', 'self', 'confidence', 'optimism', 'and', 'hard', 'working', 'n', 'ndeclaration', 'i', 'hereby', 'declare', 'that', 'all', 'the', 'details', 'furnished', 'above', 'are', 'true', 'to', 'the', 'best', 'of', 'nmy', 'knowledge', 'and', 'belief', 'n', 'najitha', 'shenoy', 'k', 'b', 'n', 'npage', '3', 'of', "3'"]
<keras_preprocessing.text.Tokenizer object at 0x7f7ce49a5ef0>

In [53]:
# another part of pre processing, not working currently
wpt = nltk.WordPunctTokenizer()
stop_words = nltk.corpus.stopwords.words('english')

doc = tech_list.iloc[0, 1]
def normalize_document(doc):
    # lower case and remove special characters\whitespaces
    doc = re.sub(r'[^a-zA-Z\s]', '', doc, re.I|re.A)
    doc = doc.lower()
    doc = doc.strip()
    # tokenize document
    tokens = wpt.tokenize(doc)
    # filter stopwords out of document
    filtered_tokens = [token for token in tokens if token not in stop_words]
    # re-create document from filtered tokens
    doc = ' '.join(filtered_tokens)
    return doc

normalize_corpus = np.vectorize(normalize_document)
normalize_corpus

In [61]:

# Word2Vec HERE
# build vocabulary of unique words
tokenizer = text.Tokenizer()
tokenizer.fit_on_texts(stemmed)
word2id = tokenizer.word_index

vocab_size = len(word2id)

# build vocabulary of unique words
word2id['PAD'] = 0
id2word = {v:k for k, v in word2id.items()}
wids = [[word2id[w] for w in text.text_to_word_sequence(doc)] for doc in stemmed]

vocab_size = len(word2id)
embed_size = 100
window_size = 2 # context window size

print('Vocabulary Size:', vocab_size)
print('Vocabulary Sample:', list(word2id.items())[:10])

AttributeError: ignored

In [0]:
# Split train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [0]:
# example Keras model

model = Sequential()

model.add(Dense(32), input_shape(16))
model.